---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Eric, a software developer from Colombia 🇨🇴.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>Python</li>
        <li>Php</li>
        <li>Mongo</li>
        <li>SQL</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about soccer and traveling. One of my hobbies is playing video games
    </p>
  </div>
  <div class="flex h-full w-full flex-col">
   <div>
      <img
        width="50"
        height="50"
        src="/memoji3.png"
        class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
        alt="memoji of Eric"
      />
    </div>
    <div></div> 
</Card>
